<div style="display: flex; flex-direction: row;flex-wrap: nowrap;width: 100%; background-color:#E1D93B; height: 70px;padding-top: 20px;">
        
    <div style="width: 25%;">
      <h1 style="text-align: center;">texto centrado</h1>
    </div>
    
    <div class="search_wrap search_wrap_3 " style="width: 50%;margin:auto;">
  <div class="search_box">
    <input type="text" class="input" placeholder="search...">
    <div class="btn btn_common">
      <i class="fas fa-search">  Buscar</i>
    </div>
  </div>
    </div> 
  
    <div style="width: 25%; ">
        <div style="display: flex; flex-direction: row;flex-wrap: nowrap;width: 100%;justify-content:center ;padding-top: 7px;">
            <div><i class="fas fa-heart" style="font-size: 40px;margin-right: 25px;"></i></div>
            <div><i class="fas fa-shopping-cart" style="font-size: 40px;margin-right: 25px;"></i></div>
            <div><i class="fas fa-user" style="font-size: 40px;margin-right: 25px;"></i></div>    
        </div>
    </div>
  </div>
  <div style="background-color:#E1D93B">
    <nav style="display: flex;align-items: center;justify-content: space-between;list-style: none;background-color:#E1D93B;height: 10vh;" class="container" >
      <li class="nav-item " >
        <a class="nav-link" style="text-decoration: none;color: black;" [routerLink]="['/inicio']">INICIO </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" style="text-decoration: none;color: black;" [routerLink]="['/portada']">PORTADA </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" style="text-decoration: none;color: black;" href="lista/policial">POLICIAL </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" style="text-decoration: none;color: black;" href="lista/politica">POLITICA </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link"style="text-decoration: none;color: black;"  href="lista/entretenimiento">ENTRETENIMIENTO </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" style="text-decoration: none;color: black;" href="lista/viajes">VIAJES </a>
      </li>
    </nav>
  </div>